
<section>
	<h2>Contact</h2>
		<form action="" method="post">
			<label for="nom">Votre Nom</label>
			<input type="text" name"nom" id="nom" placeholder="nom" required aria-required="true" autofocus="true">

			<label for="prenom">Votre Prénom</label>
			<input type="text" name"nom" id="prenom" placeholder="prénom" required aria-required="true">

			<label for="prenom">Votre Mail</label>
			<input type="email" name"mail" id="prenom" placeholder="mail" required aria-required="true">
			<label for="prenom">Votre message</label>
			<textarea name="commentaire" id="" cols="30" rows="10">Commentaire</textarea>
			<input type="submit" value="Envoyer">
			
		</form>
</section>
<footer>
	<p>&copy; - EDW - 2020</p>
</footer>