<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDS Maison du sport</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav">	
        <ul>
            <li><a href="/index.php?page=1">&lt;/&gt;  Organisme</a></li>
            <li><a href="/index.php?page=2">&lt;/&gt; Disciplines</a></li>
            <li><a href="/index.php?page=3">&lt;/&gt;  Contact</a></li>
            
        </ul>
    </nav>
    <p class="success">votre demande a bien été enregistrée <br>
        Vous serez contacté par l'organisme </p>;

    <footer>
        <p>&copy; - MDS - 2020</p>
    </footer>
</body>
</html>