 
<section>
	<h2>Présentation</h2>
		<p>
			La Maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux différentes ligues sportives régionales de Lorraine et à d’autres structures hébergées.
			La M2L est une structure financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional Olympique et Sportif de Lorraine (CROSL). 
			Installée depuis 2003 dans la banlieue Nancéienne, la M2L accueille l'ensemble du mouvement sportif Lorrain qui représente près de 6 500 clubs,
			plus de 525 000 licenciés et près de 50 000 bénévoles.
		</p>
</section>
<div class="grid-img">
	<h2>Nos locaux en France</h2>
	<ul>
		<li><img src="./asset/ambiance_01.jpg" alt="Paris" /></li>
		<li><img src="./asset/nantes.jpg" alt="Nantes" /></li>
		<li><img src="./asset/bordeaux.jpg" alt="Bordeaux" /></li>
	</ul>
</div>
<!--icones-->
<div class="grid-icone">
	<h2>Nous suivre</h2>
	<ul>
		<li><img src="../icones/logo_facebook_3225194.png" alt="FB" /></li>
		<li><img src="../icones/logo_twitter_3225183.png" alt="Instagram" /></li>
		<li><img src="../icones/logo_instagram_3225191.png" alt="Instagram" /></li>
		<li><img src="../icones/logo_linkedin_3225190.png" alt="Instagram" /></li>
	</ul>
</div>